<!DOCTYPE html>
<html ng-app="doctors" lang="en" class="">
<head>

    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />


  <meta charset="utf-8" />
  <title>Patient Plus</title>
  <meta name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="css/font.css" type="text/css" />
  <link rel="stylesheet" href="css/app.css" type="text/css" />

</head>

<body  ng-controller="StoreController as store">

<div class="app app-header-fixed ">

<!-- header -->
  <header id="header" class="app-header navbar" role="menu">
      <!-- navbar header -->
      <div class="navbar-header bg-dark">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt">
          <i class="fa fa-btc"></i>
          <img src="img/logo.png" alt="." class="hide">
          <span class="hidden-folded m-l-xs">Patient Plus</span>
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
          <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="app-aside-folded" target=".app">
            <i class="fa fa-dedent fa-fw text"></i>
            <i class="fa fa-indent fa-fw text-active"></i>
          </a>
          <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
            <i class="icon-user fa-fw"></i>
          </a>
        </div>
        <!-- / buttons -->



        <!-- search form -->
		<!-- GORO THIS SEARCH BUTTON DEFINES A NEW ng-controller that overides ours. Needs to be commented out.
        <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" data-target=".navbar-collapse" role="search" ng-controller="TypeaheadDemoCtrl">
          <div class="form-group">
            <div class="input-group">
              <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control input-sm bg-light no-border rounded padder" placeholder="Search projects...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </form>
		-->
        <!-- / search form -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
              <i class="icon-bell fa-fw"></i>
              <span class="visible-xs-inline">Notifications</span>
              <span class="badge badge-sm up bg-danger pull-right-xs">PatientPlus</span>
            </a>

          </li>

        </ul>
        <!-- / navbar right -->
      </div>
      <!-- / navbar collapse -->
  </header>
<!-- / header -->


  <div class="app app-header-fixed ">


  <div class="container w-xxl w-auto-xs" ng-controller="SigninFormController" ng-init="app.settings.container = false;">
    <a href class="navbar-brand block m-t">Patient Plus</a>
    <div class="m-b-lg">
      <div class="wrapper text-center">
        <strong>Συμπληρώστε τα στοιχεία σας για να εισέλθετε στην εφαρμογή</strong>
      </div>
      <form name="form" class="form-validation" action="/login" method="post">
        <div class="text-danger wrapper text-center" ng-show="authError">

        </div>
        <div class="list-group list-group-sm">
          <div class="list-group-item">
            <input type="text" placeholder="όνομα" class="form-control no-border" ng-model="user.email" required name="username" >
          </div>
          <div class="list-group-item">
             <input type="password" placeholder="Password" class="form-control no-border" ng-model="user.password" required name="password" >
          </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block" value="Submit" >Log in</button>

        <div class="line line-dashed"></div>
        <p class="text-center"><small>----</small></p>

      </form>
    </div>
    <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
      <p>
    <small class="text-muted">Web app framework for medical Data: Patient Plus<br>&copy; 2016</small>
  </p>
    </div>
  </div>


  </div>



<script src="js/bootstrap.js"></script>
<script src="js/ui-load.js"></script>
<script src="js/ui-jp.config.js"></script>
<script src="js/ui-jp.js"></script>
<script src="js/ui-nav.js"></script>
<script src="js/ui-toggle.js"></script>
<script src="js/ui-client.js"></script>

<!-- ANGULAR SCRIPTS -->

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="ui-bootstrap-tpls-0.14.3.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="app.js"></script>
<!-- END OF ANGULAR SCRIPTS -->

</body>

</html>
